<div class="row">
    <div class="col-lg-5 offset-lg-3">
      <h2> Which Chart Would you like to choose? </h2>
      <div class="row">
        <div class="col-lg-6">
           <img src="assets/pieChart.png" alt="">
           <button type="submit"  class="primary" (click)="pieChart()"><span>Select</span></button>
        </div>
        <div class="col-lg-6">
          <img src="assets/barChart.png" alt="">
          <button type="submit"  class="primary" (click)="barChart()"><span>Select</span></button>
        </div>
   
        <diV>
 

  

  
